$primary-color: #301919;
$secondary-color: #370808;
$dark-secondary-color: darken($secondary-color, 10%);

body {
  background-color: $primary-color;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
}

// -- PAGE LAYOUT --

.page-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}


.content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: margin-left 0.3s ease; /* Smooth transition for margin */
}

.header {
  background-color: $secondary-color;
  padding: 20px 20px 20px 200px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
  transition: ease 0.3s;
  h1{
    transition: ease 0.3s;
  }
  &.open {
    h1{
      margin-left: 150px;
    }

  }
}

.user-status {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 16px;
  right: 48px;
  div{
    display: flex;
    flex-direction: row;
  }
  *{
    margin: 0 4px;
  }
}

.user-icon {
  margin-right: 8px;
  height: 32px;
  width: 32px;
  border-radius: 32px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: lighten($primary-color, 10%);
  border-radius: 8px;
  margin: 16px 8px 8px;
}

.footer {
  background-color: $secondary-color;
  border-top: 1px solid $dark-secondary-color;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

//-- MENU --
.menu-item {
  padding: 10px;
  cursor: pointer;
  color: #fff;
  transform: translateX(-32px);
  list-style-type: none;
  a {
    text-decoration: none;
    color: #fff;
  }

  :hover {
    background-color: lighten($secondary-color, 10%);
    padding: 8px;
    border-radius: 4px;
    border-left: $dark-secondary-color 4px double;
  }
}

.menu-item.current {
  a {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #fff;
    text-underline-offset: 0.2em;
  }
}


.menu-container {
  position: fixed;
  left: 10px;
  top: 10px;
  width: 200px;
  height: calc(100% - 20px);
  background-color: $secondary-color;
  transform: translateX(-110%);
  transition: transform 0.3s ease;
  z-index: 1000;

  &.open {
    transform: translateX(0);
  }
}

.menu-toggle {
  position: relative;
  left: 10px;
  background-color: $dark-secondary-color;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transform: translateX(208px);
  color: $primary-color;

}

.menu-toggle:hover {
  background-color: lighten($secondary-color, 10%);
}

// -- VIDEO --

.video-frame{
  width: 85vw;
  height: 85vh;
}
@keyframes hoverAnimationH {
  0% {
    transform: translateX(9%)scaleX(0.7);
  }
  50% {
    transform: scaleX(1.3);
  }
  100% {
    transform: translateX(9%)scaleX(0.7);
  }
}

@keyframes hoverAnimationY {
  0% {
    transform: translateY(9%)scaleY(0.7);
  }
  50% {
    transform: scaleY(1.3);
  }
  100% {
    transform: translateY(9%)scaleY(0.7);
  }
}


// -- BOOKS --

.add-button{
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    .horizontal-line{
      animation: hoverAnimationH 1s infinite linear; // Apply rotation animation on hover
    }
    .vertical-line{
      animation: hoverAnimationY 1s infinite linear; // Apply rotation animation on hover
    }
    animation: rotateAnimation 3s infinite linear // Apply rotation animation on hover

  }
  &:not(:hover) {
    animation: rotateReset 0.3s linear; // Apply reset animation when not hovered
  }

  :hover {

  }

  @keyframes rotateAnimation {
    0% {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
    }
  }

  @keyframes rotateReset {
    0% {
      transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
  }
}

.horizontal-line {
  &:hover{
    animation: hoverAnimation 3s infinite linear; // Apply rotation animation on hover
  }

}


.books-area{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.search-container {
display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 16px;
  input {
    height: 48px;
    width: 85vw;
    padding: 8px;
    margin: 8px;
    border-radius: 4px;
    border: none;
    font-size: 24px;
  }
}
.list-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-height: 650px;
  overflow-y: auto;
  padding-top: 64px;
  justify-content: flex-start;
  align-items: center;
  &:hover {
    overflow-y: auto;
  }
}

.list-container::-webkit-scrollbar {
  width: 12px;
}

.list-container::-webkit-scrollbar-thumb {
  background-color: $secondary-color;
  border-radius: 10px;
  border: 3px solid $primary-color; // Add padding around the thumb
}

.list-container::-webkit-scrollbar-thumb:hover {
  background-color: $dark-secondary-color;
}

.list-container::-webkit-scrollbar-track {
  background: $primary-color;
  border-radius: 10px;
}


.modal {
  display: none; /* Initially hide the modal */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */


  &.show{
    display: block;
  }

  .close {
    color: #ccc; /* Light gray color for the close button */
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #fff; /* Change color on hover/focus */
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Add pointer cursor */
  }

  .input-text,
  .input-select {
    width: 100%;
    height: 35px;
    padding: 10px 10px 10px 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    background-color: #370808; /* Dark secondary color */
    color: #fff; /* White text color */
  }

  .input-checkbox {
    margin-right: 5px;
  }

  .button {
    background-color: #370808; /* Dark secondary color */
    color: #fff; /* White text color */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .button:hover {
    background-color: #301919; /* Dark primary color */
  }
}

.modal-content {
  background-color: #301919; /* Dark primary color */
  margin: auto; /* Center the modal vertically and horizontally */
  position: absolute;
  padding: 20px;
  border-radius: 8px;
  width: 70vw;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a shadow effect */
  color: #fff; /* White text color */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the modal both vertically and horizontally */

}


// -- BOOK CARD --
$dark-secondary-color: darken($secondary-color, 10%);
$light-secondary-color: lighten($secondary-color, 10%);
$white-color: #fff;

.book-container {
  background: lighten($primary-color, 10%);
  border: 1px solid $dark-secondary-color;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0; // Adjusted margin to maintain proper spacing between items
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $white-color;
}

.book-title {
  font-size: 1.5em;
  margin-bottom: 8px;
}

.book-author,
.book-genre,
.book-status{
  font-size: 1em;
  margin: 4px 0;
}
.book-favorite {
  font-size: 1.3em;

  margin: 4px 0;
}

.button-group {
  display: flex;
  gap: 8px;
  margin-top: 16px;
  width: 100%;
  justify-content: space-between;
}

.edit-button,
.delete-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.edit-button {
  background-color: $light-secondary-color;
  color: $primary-color;

  &:hover {
    background-color: $white-color;
    color: $secondary-color;
  }
}

.delete-button {
  background-color: $dark-secondary-color;
  color: $white-color;

  &:hover {
    background-color: $secondary-color;
    color: $white-color;
  }
}